@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: darkslategray;">MERHABA</h1>
    <br />
    <h4 style="color: green;">Tanıtım</h4>
    <p>Bu pencere sizlerin anket ve sorulara erişmeniz içindir</a>.</p>
    <br />
    <br />
    <p>Her hafta Çarşamba 22:45'te anket bakım çalışması yapılmaktadır</a>.</p>
    <br />
    <br />
    <p>Problem ve görüşleriniz için mail adresimizden bizlere ulaşabilirsiniz</a>.</p>
</div>
