
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 style="text-align: center;">Admin Paneline Hoşgeldiniz</h1>
<br />
<br />
<p style="text-align: center;">Bu panel Admin ve yöneticiler için ayırılmış özel bir alandır.</p>



